.main {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    background-color: #e2e2e2;
}

.cards {
    display: block;
}

.addButton {
    background-color: #2196f3;
    width: 100%;
    margin-bottom: 30px;
    color: white;
    border: none;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
}

.addButton:hover {
    background-color: #007de2;
}