.movieImage {
  margin-right: 50px;
  overflow: hidden;
  display: block;
  width: 400px;
}

.card {
  height: 400px;
  margin-bottom: 200px;
}

.moviePreview {
  display: flex;
}

.cardContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.image {
  width: 300px;
  height: 400px;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

.buttons {
  display: flex;
  justify-content: space-between;
}
