.wrapper {
  max-width: 230px;
  padding: 5px 0;
  background-color: white;
  border-radius: 10px;
  max-height: 250px;
  width: 400px;
}

.title {
  text-align: center;
}

.inputWrapper {
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
.input {
  border-color: #2196f3;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.inputWrapper:hover {
  background-color: #84c4f8;
}

.lable {
  line-height: 20px;
  width: 100%;
}
